composer.phar
composer.lock
coverage.clover
vendor/
docs/_build/
build
tests/root/cache*
!tests/root/cache.placeholder
tests/root/database*
!tests/root/database.placeholder
tests/root/logs*
!tests/root/logs.placeholder
tests/root/run*
!tests/root/run.placeholder
