<?php

use Sami\Sami;
use Sami\Version\GitVersionCollection;
use Symfony\Component\Finder\Finder;

$dir = __DIR__."/src/";

$iterator = Finder::create()
    ->files()
    ->name('*.php')
    ->in($dir)
;

$versions = GitVersionCollection::create($dir)
    ->addFromTags('1.0.0-beta3')
    ->add('master', 'live - master')
;

$options = [
    'theme'                => 'default',
    'versions'             => $versions,
    'title'                => 'comodojo::api/extender.framework',
    'build_dir'            => __DIR__ . '/extender.api/%version%',
    'cache_dir'            => __DIR__ . '/extender.apicache/%version%',
    'default_opened_level' => 2
];

return new Sami($iterator, $options);